body {
    font-family: Arial, sans-serif;
    background-color: orange;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    color: #FFA500;
    padding: 20px;
    text-align: center;
}

.main {
    padding: 20px;
}

.main h1 {
    color: #000;
}

.main p {
    font-size: 18px;
    line-height: 1.6;
}

.nav-links {
    text-align: center;
    margin-top: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #000;
    color: #FFA500;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}